* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(239, 223, 255); 
}



nav {
    display: flex;
    min-height: 3.4em;
    max-height: 4em;
    height: 100%;
    background-image: linear-gradient(to bottom right, #9800c6, #ff2ca7);
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 4em;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1.1em 2em;
    transition: background-color 0.5s;
    font-weight: 500;
    font-size: 1.1em;
}

nav ul li a:hover {
    background-color: #9800c6;
}

h1 {
    margin: 1em 0;
    letter-spacing: 0.5;
}

.h1center {
    display: flex;
    justify-content: center;
}

h2 {
margin: 1.5em 0 0.5em;
letter-spacing: 0.5
}

p {
    line-height: 1.5;
    letter-spacing: 0.4;
}

.hero-img {
    height: 45em;
    display: flex;
    max-width: 1500px;
}

.hero-img img {
    max-width: 60em;
    min-width: 20em;
    min-height: 30em;
    position: absolute;
    margin: 8em 1em 1em 30%;
    z-index: -1;
}

.info1 {
    max-width: 30em;
    min-width: 30em;
    height: 100%;
    background-image: linear-gradient(to bottom right, #cc0d7c, #9800c6);
    border: 10px solid #ff2ca7;
    border-radius: 50%;
    max-height: 30em;
    height: 100%;
    margin: 2em 10%;
    padding: 11em 3em;
    text-align: center;
}

.info1 strong {
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.5;
}

@media screen and (max-width: 1092px) {
    .info1 {
        margin: 2em 1em;
    }

    .hero-img img {
        margin-left: 10%;
    }
    
}


.info2 {
    max-width: 40em;
    width: 100%;
    border: 10px solid #ff2ca7;
    height: auto;
    margin: 2em auto 2em;
    padding: 1em 3em 5em;
    color: #000;
    background-color: #fff;
}

ul {
    margin: 1em 0;
}

li {
    margin: 1em 0;
    letter-spacing: 0.4;
}

picture img {
    border-radius: 50%;
    border: 7pt solid #ff2ca7;
}


.foto-container {

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "bild1 ."
      "bild1 bild2"
      "bild3 bild2"
      "bild3 bild4"
      "bild5 bild4"
      "bild5 ."; 
      max-width: 1200px;
      margin: 0 auto;
      background-image: url("../bilder/bakgrund_bilder.svg");

  }
  .bild1 { 
    grid-area: bild1; 
    margin: 2em auto;
}
  .bild2 { 
    grid-area: bild2;
    margin: 4em auto;
 }
  .bild3 { 
    grid-area: bild3;
    margin: 4em auto;
 }
  .bild4 { 
    grid-area: bild4;
    margin: 4em auto;
}
  .bild5 { 
    grid-area: bild5;
    margin: 2em auto;
 }

 .foto-container picture img {
    width: 100%;
 }

footer {
    display: flex;
    min-height: 5em;
    height: 100%;
    background-image: linear-gradient(to bottom right, #9800c6, #ff2ca7);
    align-items: center;
    padding: 0 5em;
    color: #fff;
}

.hamburger {
    display: block;
    width: 50px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: -45px 1em 0;
    z-index: 10;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    border-radius: 5px;
width: 100%;
height: 4px;
background-color: #fff;
margin: 4px 0;
transition: 0.4s;
position: relative;
z-index: 10;
}

.hamburger.active:before {
transform: rotate(-45deg) translate(-9px, 6px);

}

.hamburger.active .bar {
    opacity: 0;
    }

.hamburger.active:after {
    transform: rotate(45deg) translate(-5px, -3px);
    }

    .mobile_nav {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        background-color: #9800c6;
        padding-top: 120px;
        transition: 0.4s;
    }

    .mobile_nav.active {
        left: 0;
    }

    .mobile_nav li {
        display: block;
        text-align: center;
        padding: 12px 16px;
    }

    @media screen and (min-width: 599px) {
        .hamburger {
            display: none;
        }
    }


@media screen and (max-width: 600px){
    .large_nav {
        display: none;
    }
}