* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


nav {
    display: flex;
    min-height: 3.4em;
    max-height: 4em;
    height: 100%;
    background-image: linear-gradient(to bottom right, #9800c6, #ff2ca7);
    align-items: center;
    justify-content: center;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1.1em 2em;
    transition: background-color 0.5s;
}

nav ul li a:hover {
    background-color: #9800c6;
}

h1 {
    margin: 1em 0;
    letter-spacing: 0.5;
}

h2 {
margin: 1.5em 0 0.5em;
letter-spacing: 0.5
}

p {
    line-height: 1.5;
    letter-spacing: 0.4;
}

.hero-img {
    height: 45em;
    display: flex;
    max-width: 1500px;
}

.hero-img img {
    max-width: 60em;
    min-width: 40em;
    position: absolute;
    margin: 8em 1em 1em 30%;
    z-index: -1;
}

.info1 {
    max-width: 30em;
    height: 100%;
    background-image: linear-gradient(to bottom right, #cc0d7c, #9800c6);
    border: 10px solid #ff2ca7;
    border-radius: 50%;
    max-height: 30em;
    height: 100%;
    margin: 2em 10%;
    padding: 11em 3em;
    text-align: center;
}

.info1 strong {
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.5;
}

.background {
    background-color: #fff;
}

.info2 {
    max-width: 40em;
    width: 100%;
    border: 10px solid #ff2ca7;
    height: auto;
    margin: 2em auto 2em;
    padding: 1em 3em 5em;
    color: #000;
}

ul {
    margin: 1em 0;
}

li {
    margin: 1em 0;
    letter-spacing: 0.4;
}

footer {
    display: flex;
    min-height: 5em;
    height: 100%;
    background-image: linear-gradient(to bottom right, #9800c6, #ff2ca7);
    align-items: center;
    padding: 0 5em;
    color: #fff;
}

picture img {
    border-radius: 50%;
    border: 10px solid #ff2ca7;
}